*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 1px;

}
.left{
    display: flex;
    align-items: center;
}


.head{
    background-color: black;
    height:711px;
}
.left h1{
    color: white;
}
.btn{
    color: black;
    background-color: rgb(45, 226, 217);
    border: 1px solid rgb(45, 183, 201);
    padding: 9px 42px;
    border-radius:8px;
    font-size: 14px;
}
.navbar.right{
    align-items: center;
    display:block;
}
.left ul li a{
    color: white;
    text-decoration: none;
    padding: 21px;
    font-size:14px;
    
}
.left ul{
    padding-left:69px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.text{
    color: white;
}
.hero img{
    height:573px;
    width: 56%;
    margin-top: 45px;
}
.text h4{
    color: turquoise;
    font-size: 23px;
    line-height:59px;
}
.text h2{
    font-size:45px ;
}
.text span{
    font-size: 39px;
    color: turquoise;
    line-height:74px;
}
.text p{
    font-size: 19px;
    font-style: italic;
    
}
.btn-2{
margin-top: 34px;
padding: 12px 18px;
color: turquoise;
border: 2px solid turquoise;
background-color: black;
}
.home{
    display: flex;
    justify-content: space-around;
    margin-top:156px;
    background-color: rgb(235, 235, 235);
}
.home .left img{
height:321px;
width:65%;
}
.right h5{
    font-size: 23px;
}
.right span{
    color: turquoise;
    margin-left: 12px;
    font-weight: 600;
}
.right h6{
    font-size:15px;
    line-height:76px;
}
.right p{
    font-size: 14px;
    font-weight: 500;
    font-style:italic;
}
.text h3{
    color: black;
    text-align: center;
    font-size: 23px;

}
.text p{
    color: black;
    text-align: center;
    margin-top: 43px;
}
.card-wrapper{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-column-gap:4rem;
    grid-row-gap: 8rem;
    margin: 91px 123px;
    
}
.home-container{
    background-color:rgb(231, 216, 216);
}
.card{
    background:rgb(255, 254, 253);
    align-items: center;
padding:7rem 3rem;
position:relative;
}
.card img{
width: 32%;
}
.home-container img{
    position:absolute;
    top:-48px;
    left:119px;
}
.card h4{
    text-align: center;
    font-size: 26px;
}
.card p{
    text-align: center;
    font-size: 12px;

}
.card:hover{
    cursor: pointer;
    background-color: black;
    color: blanchedalmond;
}
.about{
    text-align: center;
    background: url(../images/backgroung.web.webp);
    height:444px;
    color: white;
}
.about .heading{
    font-size:31px;
    line-height: 79px;
}
.about p{
font-size: 27px;
font-weight: 400;
    font-size:14px;
}
.btn-3{
    margin: 48px;
    padding: 16px 48px;
    background-color: turquoise;
    font-weight: 600;
    border-radius: 5px;
}
.btn-3:hover{
    cursor: pointer;
    color: tomato;
}






